body {
margin: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 900;
  text-transform: capitalize;
}
h2 {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
h3 {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.tittle {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}
.button {
   display: inline-block;
   font-family: 'Hammersmith One', sans-serif;
   font-size: 16px;
   color: #00e0d0;
   text-transform: uppercase;
   border: 1px solid #00e0d0;
   padding: 15px;
   box-sizing: border-box;
}
.button:hover {
  color: #fff;
  background-color: #00e0d0;
}
.inverse {
  color: #fff;
}
header {
   position: relative;
}
.background {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   object-fit: cover;
}
.foreground {
   position: relative;
}
